.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5rem 0rem 5rem 0rem;
}
.product-image {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.product-data {
    padding: 0% 5% 0% 5%;
    text-align: left;
    font-family: sans-serif;
    font-size: medium;
    line-height: 2rem;
    width: 70%;
}

.product-features {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;

}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deal-para{
    color: slateblue;
    font-weight: 700;
}
.feature-para {
    font-size: small;
}

.feature-icon {
    font-size: 40px;
    border-radius: 100px;
    
    padding: 8%;
    background-color: lightgray;
}

.feature-div {
    display: flex;
    flex-direction: column;
    align-items: center;


}

h2 {
    margin-bottom: 10px
}

